<footer class="bg-dark text-center text-white opacity-75">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <section class="p-0">
      <!-- Facebook -->
        <a class="btn btn-outline-light btn-sm m-1" href="#!" role="button">
            <i class="fa-brands fa-facebook"></i>
        </a>

      <!-- Twitter -->
        <a class="btn btn-outline-light btn-sm m-1" href="#!" role="button">
            <i class="fab fa-twitter"></i>
        </a>

      <!-- Google -->
        <a class="btn btn-outline-light btn-sm m-1" href="#!" role="button">
            <i class="fab fa-google"></i>
        </a>

      <!-- Instagram -->
        <a class="btn btn-outline-light btn-sm m-1" href="#!" role="button">
            <i class="fab fa-instagram"></i>
        </a>

      <!-- Linkedin -->
        <a class="btn btn-outline-light btn-sm m-1" href="#!" role="button">
            <i class="fab fa-linkedin-in"></i>
        </a>

      <!-- Github -->
        <a class="btn btn-outline-light btn-sm m-1" href="#!" role="button">
            <i class="fab fa-github"></i>
        </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.9);">
    © 2023 BeerParadise :
    <a class="text-white" href="{{ path('home.index') }}">beerparadise.com</a>
  </div>
  <!-- Copyright -->
</footer>