{% extends 'base.html.twig' %}

{% block title %}BeerParadise - A propos{% endblock %}

{% block body %}
<div class="container mt-4">

    <div class="jumbotron">
        <h1 class="display-4">A propos de notre marque</h1>
        <p class="lead">Histoire de nous connaitre un peu mieux... <i class="fa-solid fa-face-smile-wink fa-lg"></i> <br></p>
        <hr class="my-2">
    </div>

    <div class="mt-4">
        <h4>Notre concept ?</h4>
        <p>Anoblir la bière et la démocratiser en vous faisans découvrir nos meilleures trouvailles ! <i class="fa-solid fa-hand-fist"></i></p>
    </div>
    <div class="mt-4">
        <h4>Nos produits ?</h4>
        <p>De la petite abbaye en Autriche, à la plus grande brasserie des Etats-Unis, rien n’arrête nos experts pour vous proposer des produits de qualité, à déguster, offrir ou partager. #WorldwideBeer</p>
    </div>
    <div class="mt-4">
        <h4>Est-ce consigné ?</h4>
        <p>Soucieux de notre impact sur l’environnement, beaucoup de nos bières sont consignées. Triées, nettoyées, elles sont ensuite réutilisées ! <i class="fa-solid fa-recycle fa-lg"></i></p>
    </div>
    <div class="mt-4">
        <h4>Notre communauté ?</h4>
        <p>L'ordre du houblon ! Kézaco ? Vous, toi, moi, les autres, tous ceux qui sont amoureux de bonne bière et qui aiment la partager entre amis ! #BeerLover <i class="fa-solid fa-heart" style="color: #ff0000;"></i></p></p>
    </div>

</div>
{% endblock %}