{% extends 'base.html.twig' %}

{% block title %}BeerParadise - Accueil{% endblock %}

{% block body %}
<div class="container mt-4">

    {# !!!!! MESSAGE FLASH !!!!! #}
    {% for message in app.flashes('success') %}          {# success = Nom de l'alerte  #}
        <div class="alert alert-success mt-4">           {# alert-sucess = Type d'alerte Bootstrap #}
            {{ message }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur BeerParadise !</h1>
        <p class="lead">BeerParadise est, comme son nom l'indique, le paradis de la bière ! Ici, tu trouveras forcement une bière (ou plusieurs... <i class="fa-solid fa-face-smile-wink"></i>) à ton gout !!! <br>
         Donc n'hésite pas à consulter notre boutique et à t'inscrire sur notre site, si tu ne fais pas encore parti de notre communauté de passionnés... </p>
        <hr class="my-3">
        <p>Pour les inscriptions, c'est par ici : </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>

    <div class="mt-4">
        <h4>Le savais-tu ?</h4>
        <p>La bière est la plus ancienne boisson alcoolisée connue au monde et la boisson la plus consommée après l'eau et le thé ! #BeerLover <i class="fa-solid fa-heart" style="color: #ff0000;"></i></p>
    </div>

</div>
{% endblock %}
