{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}BeerPardise - Administration{% endblock %} 


{% block content %}
    <h1>Panneau d'administration - BeerParadise</h1>



{% endblock %}