{% extends 'base.html.twig' %}

{% block title %}BeerPardise - Modification utilisateur{% endblock %} 

{% block body %}

        <div class="container mt-4">
            <h1>Modification du profil de {{ user.nom }}</h1>

            {# !!!!! MESSAGE FLASH !!!!! #}
            {% for message in app.flashes('danger') %}          {# danger = Nom de l'alerte  #}
                <div class="alert alert-danger mt-4">           {# alert-danger = Type d'alerte Bootstrap #}
                    <h5>{{ message }}</h5>
                </div>
            {% endfor %}

            {{ form(form) }}

        </div>

{% endblock %}
