<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/images/favIcon.png">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/quartz/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/quartz/_variables.scss">
            
            <link rel="stylesheet" href="/style.css">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

            <script src="https://kit.fontawesome.com/3453368e87.js" crossorigin="anonymous"></script>  {# lien FontAwesome pour icones #}

        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ render(controller('App\\Controller\\HeaderController::header')) }}
        {% endblock %}

        {% block body %}
        

        
        {% endblock %}

        <div class="pre-footer mt-4"></div>
        <div class="footer">
            {% block footer %}
                {% include "partials/_footer.html.twig" %}
            {% endblock %}
        </div>
    </body>
</html>

